*{
  margin: 0px;
  padding: 0px;
}
.fvp{
  height: 550px;
  width: 100%;
  background: #D3CCE3;  /* fallback for old browsers */
  background: linear-gradient(to right, #44D2C5, #00AABB); 
}
.fvp-core{
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.main-content{
  height: 450px;
  width: 100%;
}
.txt-core{
  position: absolute;
  display: block;
  top: 40%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 400px;
}
.main-head{
  color: #fff;
  margin-bottom: 20px;
  font-size: 130%;
  font-weight: var(--weight-semi-bold);
}
.head-txt{
  font-size: 80%;
  margin-bottom: 20px;
  color: #fff;
  line-height: 1.6;
}
.get-started-trig-btn{
  padding: 10px 20px;
  background-color: #854197;
  color: #fff;
  font-size: 90%;
  border-radius: 4px;
  margin-bottom: 10px;
}
.img-core{
  position: absolute;
  display: block;
  width: 55%;
  height: 100%;
  top: 0;
  left: 45%;
  overflow: hidden;
}
.img-core img{
  width: 100%;
}
/* svp */
.svp{
  height: 200px;
  width: 100%;
  background-color: #fff;
}
.svp-core{
  height: 100%;
  width: 70%;
  display: block;
  margin: 0 auto;
}
.svp-cont{
  width: 100%;
}
.svp-title{
  color: #000;
  font-weight: var(--weight-bold);
  text-align: center;
  font-size: 130%;
}
.svp-txt{
  margin-top: 20px;
  color: #666;
  text-align: center;
  font-size: 90%;
}
.tvp{
  display: block;
  width: 100%;
  /* min-height: 500px; */
  height: 700px;
  background-color: #f9f9f9;
  overflow: hidden;
}
.tvp-core{
  width: 70%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.tvp-title-div{
  display: inline-block;
  padding: 50px 0;
  text-align: center;
}
.tvp-title{
  display: inline-block;
  font-size: 130%;
  margin-bottom: 20px;
  font-weight: var(--weight-bold);
}
.tvp-cap{
  font-size: 90%;
  color: #666;
}
.tvp-title::after{
  content: '';
  position: absolute;
  top: 100%;
  left: -50%;
  transform: translate(-50%,-50%);
  height: 2px;
  width: 100px;
  background-color: #666;
}
.tvp-title::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 150%;
  transform: translate(-50%,-50%);
  height: 2px;
  width: 100px;
  background-color: #666;
}
.tvp-tabs-div{
  margin-top: 10px;
  width: 100%;
}
.tvp-tabs-core,.tvp-tabs-head,.tvp-tabs-content{
  width: 100%;
}
.tabs-head-ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tabs-head-ul li{
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  word-break: keep-all;
  white-space: nowrap;
  font-size: 80%;
  height: 40px;
  cursor: pointer;
  transition: border 0.2s ease;
}
.selected-li{
  border: 1px solid #666;
  border-radius: 4px;
}

.t-c-email{
  display: block;
}
.an-tab-cont{
  animation: lslide 0.3s ease-out forwards;
}

@keyframes lslide{
  0%{
    left: 60%;
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    left: 50%;
    opacity: 1;
  }
}
.tvp-tabs-content{
  display: block;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  min-height: 300px;
  height: auto;
  overflow: hidden;
}
.tab-cont{
  overflow: hidden;
  display: none;
  height: auto;
  transition: all 0.2s ease;
  overflow: hidden;
  display: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: none;
}
.tabs-img img{
  width: 100%;
}
.t-c-email{
  display: flex;
}
.tab-cont-div{
  width: 49%;
  overflow: hidden;
  padding: 20px;
}
.tab-cont-left{
  padding: 0;
}
.tab-h{
  font-size: 130%;
  font-weight: var(--weight-bold);
  margin-bottom: 20px;
  text-align: left;
  color: #333;
}
.tab-p{
  text-align: left;
  font-size: 90%;
  color: #666;
  line-height: 1.5;
}
.fovp{
  height: 500px;
  width: 100%;
  background-color: #fff;
}
.fovp-core{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.fivp{
  height: 550px;
  width: 100%;
  background-color: #fff;
}
.fivp-core{
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.fivp-ico-core{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.ico-circle{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, .2);
  animation: bounce 5s ease infinite forwards;
}
@keyframes bounce{
  0%,100%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(10%);
  }
}
.ico-title{
  color: #666;
  font-size: 90%;
  text-align: center;
  margin-top: 30px;
  font-weight: var(--weight-semi-bold);
}
.sivp{
  background-color: #f7f7f7;
  height: 600px;
}
.fivp-st-btn{
  margin-top: 60px;
}
.sf-title{
  padding: 0 40px;
}
.sivp-boxes-div{
  height: auto;
  width: 100%;
}
.sivp-box-row{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sivp-box-row:first-child{
  margin-bottom: 25px;
}
.sivp-box{
  height: 150px;
  width: 49%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;
}
.sivp-box:hover{
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
  transform: translateY(-7%);
}
.s-b-left{
  width: 30%;
}
.s-b-right{
  width: 70%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.sivp-box-title{
  font-weight: var(--weight-bold);
  margin-bottom: 15px;
}
.sivp-box-p{
  line-height: 1.5;
  font-size: 85%;
  color: #888;
}
.sevp{
  height: 550px;
}
.sevp-cont-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sevp-left,.sevp-right{
  width: 50%;
}
.sevp-l-title{
  color: #444;
  font-weight: var(--weight-bold);
  margin-bottom: 10px;
  text-align: left;
}
.sevp-cont-box{
  padding: 20px;
}
.sevp-cont-box p{
  font-size: 90%;
  line-height: 1.5;
  color: #666;
  text-align: left;
}
.sevp-cont-box{
  height: 300px;
  width: 90%;
  /* background-color: #fff; */
}
.sevp-ico-core{
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  height: 300px;
  width: 320px;
  border-radius: 4px;
}
.sevp-ico-div{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sevp-ico{
  width: 30%;
}
.sevp-ico img{
  height: 40px;
}
.sevp-head{
  width: 70%;
  text-align: left;
}
.sevp-title{
  color: #444;
  font-weight: var(--weight-regular);
  font-size: 95%;
}
.evp{
  background-color: #fff;
  height: 900px;
}
.evp-core{
  height: 100%;
}

.evp .sivp-box{
  height: 170px;
}
.evp .sivp-box-title{
  text-align: left;
  font-size: 80%;
}
.evp .sivp-box-p{
  text-align: left;
  font-style: italic;
  font-size: 75%;
}
.clients-core{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 50px;
}
.clients-row{
  width: 100%;
  padding: 20px;
  /* border-bottom: 1px solid #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-row .client-img:nth-child(2){
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.clients-row .client-img:nth-child(3){
  border-right: 1px solid #ddd;
}
.clients-core img{
  height: 55px;
  /* width: 185px; */
  filter: grayscale(140%);
}

.f-img-div{
  height: 250px;
  width: 100%;
  background-color: #29172C;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.f-img-title{
  font-size: 140%;
  font-weight: var(--weight-semi-bold);
}
.counter-div{
  margin-top: 40px;
  margin-bottom: 10px;
}
.counter-core{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #854197;
  padding: 4px;
  border-radius: 5px;
}
.counter-span{
  height: 60px;
  width: 60px;
  font-size: 200%;
  font-weight: var(--weight-bold);
}


/* Range slider */
.fovp{
	font:300 18px/18px Roboto, sans-serif;
}
*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.rangeslider,
.rangeslider__fill {
	display:block;
	border-radius:10px;
}

.rangeslider {
	position:relative;
}
.rangeslider:after{
	top:50%;
	left:0;
	right:0;
	content:'';
	width:100%;
	height:5px;
	margin-top:-2.5px;
	border-radius:5px;
	position:absolute;
	background:#212131;
}

.rangeslider--horizontal{
	width:100%;
	height:28px;
}

.rangeslider--vertical{
	width:5px;
	min-height:150px;
	max-height:100%;
}
.rangeslider--disabled{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity:0.4;
}

.rangeslider__fill{
	position:absolute;
	background:#ff637b;
}
.rangeslider--horizontal .rangeslider__fill{
	top:0;
	height:100%;
}
.rangeslider--vertical .rangeslider__fill{
	bottom:0;
	width:100%;
}

.rangeslider__handle{
	top:50%;
	width:28px;
	height:28px;
	cursor:pointer;
	margin-top:-14px;
	background:white;
	position:absolute;
	background:#ff637b;
	border-radius:50%;
	display:inline-block;
}
.rangeslider__handle:active{
	background:#ff5a7b;
}

.rangeslider__fill,
.rangeslider__handle{
	z-index:1;
}
.rangeslider--horizontal .rangeslider__fill{
	top:50%;
	height:5px;
	margin-top:-2.5px;
}

/* Budget */
.budget-wrap{
  padding:20px 40px;
  width: 100%;
	/* background:#292942; */
	/* box-shadow:0 25px 55px 0 rgba(0,0,0,.21),0 16px 28px 0 rgba(0,0,0,.22); */
}
.budget-wrap .header .title{
	color:#000;
	font-size:18px;
	margin-bottom:30px;
}
.budget-wrap .header .title .pull-right{
	color:#ff5a84;
	font-size:24px;
	font-weight:400;
}
.budget-wrap .footer{
	margin-top:30px;
}
.budget-wrap .footer .btn{
	color:inherit;
	padding:12px 24px;
	border-radius:50px;
	display:inline-block;
	text-decoration:none;
}
.budget-wrap .footer .btn.btn-def{
	color:#525263;
}
.budget-wrap .footer .btn.btn-pri{
	color:#eee;
	background:#ff5a84;
}
.fovp-h{
  text-align: center;
  margin-bottom: 6px;
  font-size: 120%;
  color: #333;
  font-weight: var(--weight-semi-bold);
}
.fovp-p{
  margin-bottom: 20px;
  color: #666;
  font-size: 80%;
  font-weight: var(--weight-semi-bold);
}
.sub-val-div{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.sub-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 0;
}
.s-div-left{
  margin-right: 20px;
  text-align: center;
}
.s-div-right{
  text-align: left;
}
.sdr-h{
  font-weight: var(--weight-semi-bold);
  font-size: 110%;
}
.sdr-val{
  font-weight: var(--weight-semi-bold);
  font-size: 120%;
}
.sdr-val-num{
  font-size: inherit;
  font-weight: inherit;
}
.m-sub-div{
  color: #666;
  padding: 6px 0;
}
.m-sub-div .sdr-h{
  font-weight: var(--weight-semi-bold);
  font-size: 90%;
  color: inherit;
}
.m-sub-div .sdr-val{
  font-weight: var(--weight-semi-bold);
  font-size: 90%;
  color: inherit;
}
.m-sub-div .sdr-val-num{
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

/* media queries */
@media screen and (min-width:220px) and (max-width:740px)
 {
   body{
     position: absolute;
     top: 0%;
     left: 0%;
     margin: 0px;
     padding: 0px;
     display: flex;
     width: 100% !important;
   }
  /* .wrapper{
     width: 100%;
   } */
 .fvp{
   width: 100%;
   height: auto;
 }
.svp{
  margin-top: 15px;
  width: 100%;
  text-align: center;
}
.svp-core{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tvp{
  width: 100%;
  height: auto;
  text-align: center;
   }
  .txt-core{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
   }
   .head-txt{
     font-size: 100%;
   }
  .svp-title {
    font-size: 100%;
  }
  .svp-txt{
    font-size: 80%;
  }
  .img-core{
    display: none;
 }
 .tvp-core {
   width: 100%;
 }
   .tabs-head-ul{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .tvp-tabs-div{
    margin-top: 0px;
    width: 100%;
  }
  .tab-li{
    margin-left: 1px;
  }
  .tvp-tabs-content {
    display: block;
    width: 100%;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    margin-top: -10px
}
  .tabs-head-ul li{
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* word-break: keep-all; */
    /* white-space: nowrap; */
    font-size: 100%;
    height: 40px;
    cursor: pointer;
    transition: border 0.2s ease;
  }
  .selected-li{
    border: 1px solid #666;
    border-radius: 4px;
  }
  /* .tvp-tabs-content{
    margin-top: 50px;
  } */
  .tab-h{
    font-size: 90%;
    font-weight: var(--weight-bold);
    text-align: left;
    color: #333;
    margin-top: 50px;
  }
  .fovp{
    width: 100%;
  }
  .sivp{
    width: 100%;
  }
  .fivp{
    width: 100%;
    height: 820px;
  }
  .fixed-header{
    width: 200%;
  }
  .header-core{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  .sivp-box{
    height: 200px;
    width: 60%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;
    margin-left: 8px;
  }
  .tab-cont-div{
    width: 60%;
    overflow: hidden;
    padding: 20px;
  }
  .tab-cont-left{
    padding: 0;
  }
  .tab-h{
    font-size: 100%;
    font-weight: var(--weight-bold);
    /* margin-bottom: 20px; */
    text-align: left;
    color: #333;
    margin-top: 180px;
  }
  .tab-p{
    text-align: left;
    font-size: 90%;
    color: #666;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start

    }
    /* .fivp{
      width: 200%;
    } */
    .ico-parent{
      margin-left: 15px;
    }
    .sevp{
      width: 100%;
      height: auto;
    }
    .sivp-box-title {
      font-weight: var(--weight-bold);
      margin-bottom: 0px;
      font-size: 120%;
      margin-bottom: 5px;
  }
 
  .sivp-box-p{
    font-size: 95%;
  }
  .sivp{
    background-color: #f7f7f7;
    height: auto;
  }
  .sivp-box{
    margin-bottom: 20px;
    width: 90%;
    height: 230px;
    margin-top: 10px;
  }
  .evp .sivp-box{
    width: 90%;
    height: 280px;
    margin-top: 20px;
    }
  .s-b-left{
    width: 30%;
  }
  .s-b-right{
    width: 70%;
  }
  .sivp-box-row{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 12px;
  }
  .sivp-box-row:first-child{
    margin-bottom: 15px;
  }
  .evp .sivp-box-title{
    margin-bottom: 8px;
    font-size: 100%;
  }
  .evp .sivp-box-p{
    font-size: 80%;
  }
  .fivp-ico-core{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
  }
  .sevp-cont-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  .sevp-left{
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  .sevp-right
  {
    width: 100%;
    margin-top: 130px;
  }
  .sevp-l-title{
    font-size: 120%;
    margin-bottom: 15px;
  }
  .sevp-cont-box{
    /* margin-bottom: 80px; */
  }
  .sevp-cont-box p{
    font-size: 100%;
  }
  .clients-core {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
}
.clients-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: -5px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.clients-core img{
  height: auto;
  width: 100%;
}
.clients-row {
  padding: 0px;
}
.f-img-div {
  height: auto;
  width: 100%;
  background-color: #29172C;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.f-img-title{
  font-size: 120%;
  text-align: center;
  margin-top: 25px;
}
.main-footer{
  width: 100%;
  height: auto;
}
.footer-core {
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}
.footer-left {
  width: 100%;
  height: 100%;
}
.footer-left p{
  font-size: 110% !important;
}
.footer-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  /* text-align: center; */
  flex-direction: column;
}
.list li {
  list-style: none;
  color: #666;
  cursor: pointer;
  font-size: 120%;
  padding-bottom: 8px;
}
  }

  .bg-light {
    background-color: transparent !important;
}
.pull-right{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-light .navbar-brand {
  color: white !important;
}
.navbar-light .navbar-nav .nav-link {
  color: white !important;
  border-bottom: 2px solid transparent;

}
.navbar-light .navbar-nav .nav-link:hover {
  color: white !important;
  border-bottom: 2px solid white;
}


.secondary{
  background: white;
  color: black;
  height: 60px;
  padding-top: 0px;
}
.container-fluid{
  padding: 0px !important;
  margin: 0px !important;
}
@media screen and (min-width:741px) and (max-width:992px){
  .img-core {
    position: absolute;
    display: block;
    width: 55%;
    height: 100%;
    top: 25%;
    left: 50%;
    overflow: hidden;
}
  .tvp-tabs-head{
    width: 100%;
  }
  .tabs-head-ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tabs-head-ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  word-break: keep-all;
  white-space: nowrap;
  font-size: 80%;
  height: 40px;
  cursor: pointer;
  transition: border 0.2s ease;
}
.tab-h {
  font-size: 100%;
  font-weight: var(--weight-bold);
  text-align: left;
  color: #333;
}
.tvp-tabs-content {
  display: block;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  min-height: 500px;
  height: auto;
  overflow: hidden;
}
.tvp {
  display: block;
  width: 100%;
  /* min-height: 500px; */
  min-height: 1000px;
  height: auto;
  background-color: #f9f9f9;
  overflow: hidden;
}
.sevp{
  width: 100%;
}
.sevp-cont-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* flex-direction: column; */
}
.sivp-boxes-div {
  height: auto;
  width: 100%;
}
.sivp-box-row {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.sivp-box {
  height: 150px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}
.sivp-box-row:first-child {
  margin-bottom:0px;
}
.footer-core {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.footer-left {
  width: 80%;
  height: 100%;
}
.footer-right {
  width: 80%;
}
.sivp {
  background-color: #f7f7f7;
  height: 850px;
}
}